*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: yellowgreen;
  height: 100%;
}

#container{
  background: wheat;
  border-radius: 15px;
  width: 400px;
  height: 450px;
  margin: 10% auto;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.44);
}
h1{
  grid-column: 2 / span 3;
  grid-row: 2;
  font-size: 20px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.5);
}
.rules{
  margin-left: 5%;
  grid-column: 1 / span 5;
  grid-row: 3;
  font-size: 18px;
}
.inputField{
  grid-column: 2 / span 4;
  grid-row: 4;
  margin-top: 25px;
}

.inputField > input{
  border-radius: 40px;
  border-style: none;
}

.inputField > input:hover{
  border-style: none;
  background: lightblue;
}

#placeResults{
  margin-bottom: 55px;
  grid-column: 2 / span 3;
  grid-row: 5;
  font-size: 20px;
}

button{
  border-radius: 40px;
  border-style: none;
}

button:hover{
  cursor: pointer;
  background: lightblue;
  border: 1px solid lightblue;
}