*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: rgb(56, 56, 56);
  height: 100%;
}

#container{
  background: whitesmoke;
  border-radius: 15px;
  width: 400px;
  height: 450px;
  margin: 8% auto;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.44);
}

h1{
  grid-column: 2 / span 3;
  grid-row: 2;
  font-size: 20px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.5);
  text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.2);
}

.rules{
  margin-left: 5%;
  grid-column: 1 / span 5;
  grid-row: 3;
  font-size: 16px;
  font-weight: bold;
}

.inputField{
  grid-column: 2 / span 4;
  grid-row: 4;
  margin-top: 25px;
}

.inputField > input{
  border-radius: 40px;
  border-style: none;
  height: 65px;
}

.inputField > input:hover{
  border-style: none;
  background: rgba(173, 216, 230, 0.4);
}

#placeResults{
  margin-bottom: 55px;
  grid-column: 2 / span 3;
  grid-row: 5;
  font-size: 20px;
  text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.5);
}

button{
  border-radius: 40px;
  border-style: none;
  height: 65px;
  background: white;
}

button:hover{
  cursor: pointer;
  background: rgba(173, 216, 230, 0.4);
  border: 1px solid rgb(173, 216, 230,);
}